.rounded-box{
    border-radius: 10px;
    background:grey;
    text-align: center;
    margin: auto;
    margin-top: 160px;
}

.rounded-box p #title{
    padding-top: 10%;
    font-size: 25px;
}

.rounded-box p{
    padding-top: 5%;
    font-size: 15px;
}

.rounded-box button {
    margin-top: 10%;
    margin-bottom: 10%;
}

#main {
    width: 100%;
    height: 100vh;
    position: absolute;
  }

.bgimg {
    width: 100%;
    height: 100vh;
    background-image: url('../res/arcade-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.circle {
    border-radius: 50%;
}

.circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.reg-img {
    display: inline-block;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 10%;
    margin-top: 5%
}

.input-group ul {
    list-style-type: none;
    display: flex;
}

.remove-list-style{
    list-style-type: none;
}

.remove-padding{
    padding: 0px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}
.image1 {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    margin-left:auto;
    margin-right: auto;
}
.image2 {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
    margin-left:auto;
    margin-right: auto;
}

.image3 {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 3;
    margin-left:auto;
    margin-right: auto;
}

.image1small {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    width: 30px !important;
    height:30px !important;
    margin-right: auto;
}
.image2small {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    width: 30px !important;
    height:30px !important;
    margin-right: auto;
}

.image3small {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 3;
    width: 30px !important;
    height:30px !important;
    margin-right: auto;
}

.image-behind {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

.playingcard {
    display: inline-block;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-top: 5%;
}

.cardparent {
    height: 175px!important;
    width: 175px!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.unstyled-button {
    border: none;
    padding: 0;
    background: none;
  }

.invalid-chars {
    color: red;
    text-align: left;
    padding-top: 0!important;
    margin-left: 10px;
}

.reg-button {
    margin-bottom: 5%;
}

.play-area {
    background: grey!important;
    box-shadow: 5px 5px;
    margin-top: 10px!important;
}

.play-area-gold {
    background: gold!important;
    box-shadow: 5px 5px;
    margin-top: 10px!important;
}

.info-area {
    background: grey!important;
    box-shadow: 5px 5px;
}

.info-area p {
    padding-top: 0px!important;
}

.card {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 5px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    display: inline-block;
    background-color: darkgray;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
    position: absolute;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}

.card-face-front {
    background-color: darkgray;
}
  
.card-face-back {
    transform: rotateY(180deg);
    cursor: auto;
    width:150px;
    height:150px;
}

.emoji > img{
    position: relative;
    vertical-align: unset;
}

.emoji > img ~ img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card div img{
    width: 150px;
    height:150px;
    border-radius: 5%;
}

.card div {
    border-radius: 5%;
}
